<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <listener>
        <listener-class>listeners.EatItHereAppListener</listener-class>
    </listener>
    
    <!--Initialized parameters to access DB, if in your machine is different just change
    user/password values-->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:5432/DBFoodSite;user=postgres;password=000117gm</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
